{{!-- <br /><br />
<div class="px-6">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">

        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{{editPostData.img_url}}" alt="{{editPostData.title}}" />
          </article>
        </div>

        <div class="tile is-parent is-vertical">
          <article class="tile is-child">
            <form>
              <p class="title is-3"><textarea id="edit-title"> {{editPostData.title}}</textarea></p>
              <p> <textarea id="edit-body">{{editPostData.body}}</textarea></p>
          </article>
          <div class="buttons">
            <button id="edit-button" class="button is-link">Edit</button>
            <button id="delete-button" class="button is-danger">Delete</button>
          </div>
          </form>
          <article class="title is-child notification is-link is-light">
            {{#each editPostData.keywords as |Tag|}}
            <p>#</p>
            <span class="tag is-link is-light"> {{Tag}}</span>
            {{/each}}
          </article>
        </div>

      </div>
    </div>
  </div>
</div> --}}


<br /><br />
<div class="columns">
  <div class="column">
    <div class="column is-11 is-offset-1">
      <div class="card single-post-image">
        <img class="image" src="{{editPostData.img_url}}" alt="{{editPostData.title}}" />
      </div>
      <br />
      <br />
    </div>
  </div>

  <div class="column">

    <div class="card comments-card">
      <article class="tile is-child">
        <form>
          <p class="title is-3"><textarea id="edit-title"> {{editPostData.title}}</textarea></p>
          <p> <textarea id="edit-body">{{editPostData.body}}</textarea></p>
      </article>
      <div class="buttons">
        <button id="edit-button" class="button is-link">Edit</button>
        <button id="delete-button" class="button is-danger">Delete</button>
      </div>
      </form>
      <br />
      <div class="keyword is-centered">
        {{#each editPostData.keywords as |Tag|}}
        <span class="tag is-success is-light"> #{{Tag}}</span>
        {{/each}}
      </div>
    </div>

  </div>
</div>
</div>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>