<br /><br />
<div class="columns">
  <div class="column">
    <div class="column is-11 is-offset-1">
      <div class="card single-post-image">
        <img class="image" src="{{editPostData.img_url}}" alt="{{editPostData.title}}" />
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="column">
  <div class="card comments-card">
        <form class="is-flex is-justify-content-center">
          <div class = "column">
            <p class="title custom-title"> Title: <textarea class="textarea custom-textarea" id="edit-title"> {{editPostData.title}}</textarea></p>
            <p class="title custom-title"> Body: <textarea class="textarea custom-textarea" id="edit-body">{{editPostData.body}}</textarea></p>
            <div class = "is-flex is-justify-content-center">
              <button id="edit-button" class="button custom-button is-centered">Edit</button>
              <br>
              <button id="delete-button" class="button custom-button is-centered">Delete</button>
            </div>
          </div>
      </form>
      <br>
      <div class="keyword is-centered">
        {{#each editPostData.keywords as |Tag|}}
        <span class="tag is-success is-light"> #{{Tag}}</span>
        {{/each}}
      </div>
    </div>

  </div>
</div>
</div>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>