{{#if loggedIn}}
<section class="hero">
  <img class="image purple-glow" src="./assets/banner-text-large.png" alt="Logo Banner" />
</section>

{{#each post as |Post|}}
<div class="columms custom-columns">
  <div class="column is-half is-offset-one-quarter is-flex is-justify-content-center">
    <div class="card custom-card">
      <br>
      <div class="card-body custom-card-body">
        <p class="title is-5"> {{Post.title}}</p>
        <a href="/api/post/{{Post.id}}"> <img class="image" src="{{Post.img_url}}" alt="{{Post.title}}"></a>
        <p class="is-italic"> created by <span class="custom-tag mt-2 is-medium">
            <a href="/api/user/{{Post.user_id}}">{{Post.user.username}}</a></span> on
          {{format_date Post.created_at}} </p>
        <br>
        <p> {{Post.body}}</p>
        <br>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{else}}
<section class="hero">
  <img class="image purple-glow" src="./assets/banner-text-large.png" alt="Logo Banner" />
</section>
<div class="tile">
  <article class="tile is-4 is-child px-6 py-6">
    <p class="title is-5 is-centered"> {{post1.title}}</p>
    <img class="image purple-glow" src="{{post1.img_url}}" alt="{{post1.title}}" />
    <p>created by {{post1.user.username}} on {{format_date post1.created_at}}</p>
  </article>
  <article class="tile is-4 is-child px-6 py-6">
    <p class="title is-5 is-centered"> {{post2.title}}</p>
    <img class="image purple-glow" src="{{post2.img_url}}" alt="{{post2.title}}" />
    <p>created by {{post2.user.username}} on {{format_date post2.created_at}}</p>
  </article>
  <article class="tile is-4 is-child px-6 py-6">
    <p class="title is-5 is-centered"> {{post3.title}}</p>
    <img class="image purple-glow" src="{{post3.img_url}}" alt="{{post3.title}}" />
    <p>created by {{post3.user.username}} on {{format_date post3.created_at}}</p>
  </article>
</div>
<br>
<br>
<br>
<div class="tile">
  <article class="tile is-4 is-child px-6 py-6">
    <p class="title is-5 is-centered"> {{post4.title}}</p>
    <img class="image purple-glow" src="{{post4.img_url}}" alt="{{post4.title}}" />
    <p>created by {{post4.user.username}} on {{format_date post4.created_at}}</p>
  </article>
  <article class="tile is-4 is-child px-6 py-6">
    <p class="title is-5 is-centered"> {{post5.title}}</p>
    <img class="image purple-glow" src="{{post5.img_url}}" alt="{{post5.title}}" />
    <p>created by {{post5.user.username}} on {{format_date post5.created_at}}</p>
  </article>
  <article class="tile is-4 is-child px-6 py-6">
    <br>
    <br>
    <a href="/signup"> <img class="image" src="./assets/Login-Call.png" alt="Login in to join community!" /> </a>
  </article>
</div>
{{/if}}