<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <figure class="image is-5by4">
                <img src="/assets/logo-clear-background.png" alt="Purple Wave Logo" />
            </figure>
        </div>
    </div>
    {{#if loggedIn}}
    {{#each post}}
    <!-- Post #1 -->
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post.title}}</p>
            <img src="{{post.img_url}}" alt="{{post.title}}" />
            <p>created by
                {{post.user.username}}
                on
                {{format_date post.created_at}}</p>
        </div>
    </div>
    {{/each}}
    {{else}}

    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post1.title}}</p>
            <img src="{{post1.img_url}}" alt="{{post1.title}}" />
            <p>created by
                {{post1.user.username}}
                on
                {{format_date post1.created_at}}</p>
        </div>
    </div>
    <!-- Post #2 -->
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post2.title}}</p>
            <img src="{{post2.img_url}}" alt="{{post2.title}}" />
            <p>created by
                {{post2.user.username}}
                on
                {{format_date post2.created_at}}</p>
        </div>
    </div>
    <!-- Post #3 -->
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post3.title}}</p>
            <img src="{{post3.img_url}}" alt="{{post3.title}}" />
            <p>created by
                {{post3.user.username}}
                on
                {{format_date post3.created_at}}</p>
        </div>
    </div>
    <!-- Post #4 -->
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post4.title}}</p>
            <img src="{{post4.img_url}}" alt="{{post4.title}}" />
            <p>created by
                {{post4.user.username}}
                on
                {{format_date post4.created_at}}</p>
        </div>
    </div>
    <!-- Post #5 -->
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p> {{post5.title}}</p>
            <img src="{{post5.img_url}}" alt="{{post5.title}}" />
            <p>created by
                {{post5.user.username}}
                on
                {{format_date post5.created_at}}</p>
        </div>
    </div>
</div>
{{/if}}