{{#if loggedIn}}
<br>
<div class = "columms custom-columns">
  <div class = "column is-half is-offset-one-quarter"> 
    <div class = "column is-half is-offset-one-quarter">
      <div class="card custom-card"> 
        <br>
        <p class="title profile-title"> @{{user.username}}</p>
        <img class="image" src="/assets/logo-white-background.png" alt="Logo">
      </div>
    </div>
  </div>
</div>

{{#if user.posts.length}}
{{#each user.posts as |Post|}}

<div class = "columms custom-columns">
  <div class = "column is-half is-offset-one-quarter is-flex is-justify-content-center">
      <div class="card custom-card">
        <br> 
        <div class = "card-body custom-card-body">
          <p class="title is-5"> {{Post.title}}</p>
          <a href="/api/post/{{Post.id}}"> <img class="image" src="{{Post.img_url}}" alt="{{Post.title}}"></a>
          <p class="is-italic"> created on {{format_date Post.created_at}} </p>
          <br>
          <p> {{Post.body}}</p>
          <br>
          <span class="tag is-normal">{{Post.style.style_type}}</span>
        </div>
      </div>
  </div>
</div>
{{/each}}


{{else}}
<p class="title custom-title">User {{user.username}} have no Posts YET!</p>
{{/if}}
{{/if}}