<br>
<div class = "columms custom-columns">
  <div class = "column is-half is-offset-one-quarter"> 
    <div class = "column is-half is-offset-one-quarter">
      <div class="card custom-card"> 
        <br>
        <p class="title custom-title"> Style: {{allPost.style_type}} </p>
        <img class="image" src="/assets/logo-white-background.png" alt="Logo">
      </div>
    </div>
  </div>
</div>
{{#if allPost.posts.length}}
    {{#each allPost.posts as |post|}}
        <div class = "columms custom-columns">
        <div class = "column is-half is-offset-one-quarter is-flex is-justify-content-center">
            <div class="card custom-card">
                <br> 
                <div class = "card-body custom-card-body">
                <p class="title is-5"> {{post.title}}</p>
                <a href="/api/post/{{post.id}}"> <img class="image" src="{{post.img_url}}" alt="{{post.title}}"></a>
                <p class="is-italic"> by {{post.user.username }} on {{format_date post.created_at}} </p>
                <br>
                <p> {{post.body}}</p>
                <br>
                </div>
            </div>
        </div>
        </div>
    {{/each}}
{{else}}
<p class="title custom-title">No Post with this style yet!</p>
{{/if}}
