    <br>
    <div class="card custom-card">
      <br>
        <p class="title custom-title"> @{{username}}</p>
        <img class="image" src="/assets/logo-white-background.png" alt="Logo">
    </div> 


{{#if post.length}}
<div class = "column px-6 py-6">
{{#each post as |Post|}}
<div class="card custom-card">
  <p class="title is-5"> {{Post.title}}</p>
  <a href="/api/post/{{Post.id}}"> <img class="image" src="{{Post.img_url}}" alt="{{Post.title}}"></a>
   <p class="is-italic"> created on {{format_date Post.created_at}} </p>
  <p> {{Post.body}}</p>
  <div class="tags are-normal"> </div><span class="tag is-normal">{{Style.style_type}}</span> </div>
</div> 
  <a href="/profile/edit/{{Post.id}}" class="button is-link">edit post</a>
<br>
{{/each}}

{{else}}
<h1>You have no Posts!</h1>
 {{/if}}
 </div>
 </div>