<div class="px-6">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">

        <div class="tile is-parent">
          <article class="tile is-child">
            <img src="{{post.img_url}}" alt="{{post.title}}" />
        
            {{#if loggedIn}} <button href="/edit-post" class="button is-link">edit post</button> {{/if}}

          </article>
        </div>

        <div class="tile is-parent is-vertical">
          <article class="tile is-child">
            <p class="title is-3"> {{post.title}}</p>
            <p class="is-italic">created by {{post.user.username}} on {{format_date post.created_at}}</p>
            <p> {{post.body}}</p></section>
          </article>

          <article class="title is-child notification is-link is-light">
            {{#each post.keywords as |Tag|}}
            <p>#</p>
            <span class="tag is-link is-light"> {{Tag}}</span>
            {{/each}}
          </article>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="/js/edit-post.js"> </script>